body{
    margin: 0;
    padding: 0;

    background-color: #000;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    font-family: 'PT Sans Narrow',Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}


img{
    max-width: 100%;
    height: auto;   
}

.inner-page{
    color: #000;

    background-color: #f8f5f2;
    background-image: url(../img/bg-columns.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);

    border: 0;
    overflow: hidden;
}



.button{
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;

    font: inherit;
    text-align: center;
    color:#fff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000;
    border: none;
}

.button:hover,
.button:focus,
.button:active{
    background-color: #663d15;
}

.button.disabled,
.button:disabled{
    cursor: default;
    opacity: .5;
    background-color: #000;
}

.main-header{
    margin-bottom: 75px;
}

.inner-page .main-header{
    margin-bottom: 50px;

    background-color: #000;
}

.main-nav {
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
}

.inner-page .main-nav{
    align-items: flex-start;
    flex-direction: row;
}

.main-logo{
    order: 2;
    width: 368px;
    height: 153px;
}

.inner-page .main-logo{
    order: 0;

    width: 111px;
    height: 24px;
    padding: 23px 20px;
}


.main-nav-wrapper{
    width: 100%;
    margin-bottom: 60px;
    
    background-color: #000;
}

.main-nav-wrapper .container{
    display: flex;
    justify-content: space-between;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sign-in-nav{
    display: flex;
    width: 140px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sign-in-nav .login-link{
    position: relative;
    padding-left: 50px;
}

.login-link::before{
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("../img/login.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.inner-page .sign-in-nav{
    margin-left: auto;
}

.site-nav a,
.sign-in-nav a{
    display: block;
    padding: 25px 20px;
    
    color: #fff;
}

.site-nav a:hover,
.sign-in-nav a:hover,
.site-nav a:focus,
.sign-in-nav a:focus{
    background-color: #242424;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    list-style: none;
}

.breadcrumbs a{
    color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
    text-decoration: underline;
}

.breadcrumbs-item a{
    position: relative;
    margin-right: 40px;
}

.breadcrumbs-item a::after{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    margin-top: 8px;
    margin-left: 15px;

    background-color: #000;
    transform: rotate(45deg);
}

.breadcrumbs-current{
    color: #aba9a7;
}

.catalog-columns{
    display: flex;
    justify-content: space-between;
}

.benefits{
    margin-bottom: 80px;
}

.benefits-list{
    margin: 0;
    padding: 0;
    
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.benefits-item{
    text-align: center;

    width: 300px;
}

.benefits-item h3{
    position: relative;

    margin: 0;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 42px;
}

.benefits-item h3::after{
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;

    margin-left: -10px;
    width: 20px;
    height: 20px;

    background-color: #fff;

    transform: rotate(45deg);
}

.benefits-item p{
    margin: 0 10px;
}

.index-columns{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    color: #000;

    background-color: #f8f5f2;
    background-image: 
        url(../img/line.png),
        url(../img/bg-columns.jpg);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.index-columns h2{
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.news{
    width: 380px;
}

.news-list{
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
}

.news-item{
    margin-bottom: 25px;
}

.news-item p{
    margin: 0;
}

.news-list time{
    text-transform: none;
}

.gallery{
    width: 300px;
}

.gallery-button{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-button-back{
    left: 0;
}

.gallery-button-next{
    right: 0;
}

.gallery-container{
    position: relative;

    height: 260px;
}

.gallery-content{
    height: 164px;
    margin: 0;

    background-color: #ccc;
    border: 7px solid #fff;
}

.gallery-content img{
    width: 286px;
    height: 164px;
}

.contacts{
    width: 380px;
}

.contacts p{
    margin: 0;
    margin-bottom: 15px;
}

.record{
    width: 300px;
}

.record-info{
    margin: 0;
    margin-bottom: 15px;
}

.record-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.record-item {
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.record-item label{
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.record-item input{
    box-sizing: border-box;
    width: 140px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    
    font:inherit;

    background-color: transparent;
    border: 2px solid #000 ;
}

.record-item input:focus{
    border-color: #663d15;
}

.record .button{
    display: block;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
}

.main-footer{
    color: #fff;

    background-color: #222;
    background-image: url(../img/bg-footer.jpg);
    background-position: 0 0;
    background-repeat: repeat;

    padding: 60px 0;
    margin-top: 65px;
}

.inner-page .main-footer {
    margin-top: 45px;
}

.main-footer .container{
    display: flex;
}


.footer-contacts{
    width: 320px;
    margin: 0;    
    margin-right: 80px;
}

.footer-contacts a{
    color: #fff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus{
    text-decoration: none;
}

.footer-social{
    width: 145px;
    
    text-align: center;
}

.footer-social a{
    color: #fff;
}

.footer-social ul {
    display: flex;
    width: 141px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.footer-social b{
    display: block;
    margin-bottom: 15px;
}

.social-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    margin-bottom: 10px;

    background-color: #000;
}

.social-button:hover,
.social-button:focus{
    background-color: #fff;
}

.social-button:hover path,
.social-button:focus path{
    fill: #000;
}

.footer-copyright{
    text-align: center;
    width: 150px;
    margin: 0;
    margin-left: auto;
}

.footer-copyright .button{
    display: block;
    margin: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus{
    color: #000;
    background-color: #fff;
}

.footer-copyright b{    
    display: block;
    margin-bottom: 15px;
}

.modal{
    color: #000;

    background-color: #f8f3f0;
    background-image: url("../img/bg-columns.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2{
    font-size: 30px;
    line-height: 42px;
}

.sig-in-form input[type="login"],
.sig-in-form input[type="password"]{
    font: inherit;
    color: #000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border:2px solid #000;
}

.restore a{
    color: #000;
    text-decoration: underline;
}

.restore a:hover,
.restore a:focus{
    text-decoration: none;
}

.page-title{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.product-photo-preview{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.product-photo-preview li{
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-photo-preview li:nth-child(3n){
    margin-right: 0;
    margin-bottom: 20px;
}

.product-photo-preview img{
    box-shadow: 0 0 10px 2px rgba(0,0,0, .1);
}

.product-photo-full{
    box-shadow: 0 0 10px 2px rgba(0,0,0, .1);
}

.product-photos{
    width: 460px;
}

.product-photos p{
    margin: 0;
    margin-bottom: 21px;
}

.product-info{
    position: relative;
    width: 390px;
    margin-right: 11px;
}

.product-exists{
    margin-top: 19px;
    margin-bottom: 29px;
}

.product-article{
    position: absolute;
    margin: 0;
    margin-top: 0;
    top:19px;
    right: 0;

    color: #aeaeae; 
}

.product-description{
    margin: 0;
    margin-bottom: 38px;
}

.product-info h3{
    margin: 0;
    margin-bottom: 33px;

    font-size: 24px;
    line-height: 30px;  
}

.product-info ul{
    margin: 0;
    padding: 0;
    margin-left: 21px;
    position: relative;

    list-style: none;
}

.product-info li::before{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    margin-top: 8px;
    margin-left: -18px;
    background-color: #000;
    transform: rotate(45deg);
}

.product-info .catalog-item-price{
    margin: 0;
    margin-bottom: 56px;
}

.filter{
     width: 180px;
}

.catalog{
    width: 700px;
}

.filter fieldset{
    border: none;
}

.filter legend{
    padding: 0;
    margin: 0;
    
    font-size: 24px;
    line-height: 30px;
}

.filter ul{
    padding: 0;
    margin: 0;

    list-style: none;
    line-height: 18px;
}

.filter li{
    margin-bottom: 19px;
}

.filter-input:hover + label,
.filter-input:focus + label{
    color: #663d15;
}

.filter-input:disabled + label{
    color: #000;
    opacity: .5;
}

.brand{    
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
}

.brand legend{
    margin-bottom: 34px;
}

.divison-product{    
    padding: 0;
    margin: 0;
    margin-bottom: 51px;
}

.divison-product legend{
    margin-bottom: 32px;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
}

.catalog-item{
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;

    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
}

.catalog-item-view{    
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
}

.catalog-item-view h3{
    order: 1;
    margin: 0;
    margin-left: 16px;
    margin-right: 17px;
}
.catalog-item-view p{
    order: 0;
    margin: 0;    
    margin-bottom: 8px;
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}

.catalog-item:hover{
    box-shadow: 0 0 10px rgba(0,0,0, .2);
}

.catalog-category{
    text-transform: none;
}
.catalog-item-price{
    display: flex;
    margin: 0;
    margin-left: 16px;
    margin-bottom: 16px;
}

.catalog-item-price b{
    padding-top: 12px;
    width: 109px;

    font-size: 14px;
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}

.catalog-item-price .button{    
    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 13px;
    width: 78px;

    line-height: 20px;
    color: #fff;
}


.catalog-brand{
    display: block;
}

.pagination-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}


.pagination-item,
.pagination-item-current{
    margin-right: 7px;
}

.pagination-item a{
    padding: 12px 18px;

    color: #fff;
    background-color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active{
    background-color: #663d15;
}

.pagination-item-current a{
    padding: 12px 18px;

    color: #000;
    background-color: #fff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
    color: #000;
    background-color: #fff;
}

.tagline{
    position: relative;
    font-size: 48px;
    line-height: 48px;
    margin-top: 38px;
    margin-bottom: 64px;
    margin-left: 186px;
}

.tagline::before{
    content: "";
    position: absolute;
    right: 0;
    width: 160px;
    top: 24px;
    height: 2px;

    background-color: #000;
}

.tagline::after{
    content: "";
    position: absolute;
    left: -186px;
    width: 160px;
    top: 24px;
    height: 2px;

    background-color: #000;
}

.use-funds{
    position: relative;
    width: 380px;
    margin-bottom: 70px;
}

.use-funds ul{
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.use-funds li{
    margin-bottom: 13px;
}

.use-funds li::before{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    margin-top: 8px;
    margin-left: -18px;
    background-color: #000;
    transform: rotate(45deg);
}

.use-funds h3{
    margin: 0;
    margin-bottom: 31px;

    font-size: 24px;
    line-height: 30px;
}

.price-services{
    width: 460px;
}

.price-services h3{
    margin: 0;
    margin-bottom: 39px;

    font-size: 24px;
    line-height: 30px;
}

.price-services table{        
    width: 100%;

    border-collapse: collapse;
}

.price-services td{
    width: 227px;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 19px;
}

.price-services td:nth-child(2n){
    text-align: center;    
    padding-left: 0;
}

.price-services table,
.price-services td{
    border: 2px solid #000;
}

.few-words{
    margin-bottom: 78px;
}

.few-words h3{
    margin: 0;
    margin-bottom: 34px;

    font-size: 24px;
    line-height: 30px;
}

.description{
    margin: 0;
    width: 380px;
    margin-right: 100px;
}

.description:nth-child(2n){
    margin-right: 80px;
}




