@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff"),
        url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto"),
        url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff"),
        url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"),
        url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff"),
        url("../fonts/Roboto-Bold.ttf");
}

h3{
    text-transform: uppercase;
}

body{
    margin: 0;
    padding: 0;
    
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;

    background-color: #fff;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;   
}

.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);

    border: 0;
    overflow: hidden;
}

.main-nav{
    display: flex;   
    justify-content: space-between;
    align-items: flex-end;

    line-height: 30px;
    text-transform: uppercase;

    background-color: #eee;
}

.main-nav a{
    color: #000;
}

.main-header{
    background-color: #eee;
}

.main-nav-wrapper{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    background-color: #eee;
    
}

.main-logo{
    width: 160px;
    height: 65px;
    margin-top: 48px;
}

.main-logo img:hover,
.main-logo img:focus{
    filter: opacity(80%);
}

.main-logo img:active{
    filter: opacity(30%);
}


.site-nav,
.basket-nav{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    font-weight: 500;
    list-style: none;        
}

.site-nav li{
    margin-bottom: 19px;
    margin-right: 47px;
}

.basket-nav li{
    margin-bottom: 19px;
    margin-right: 20px;
}

.basket-nav .basket-link{    
    position: relative;
}

.basket-link::before{
    content: "";

    position: absolute;
    top: 2px;
    margin-left: -41px;
    width: 15px;
    height: 15px;

    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-nav a:hover,
.site-nav a:focus,
.basket-nav a:hover,
.basket-nav a:focus{
    color: #fb565a;
}

.site-nav a:active,
.basket-nav a:active{
    color:rgba(0,0,0,.3);
}

.button{
    border-radius: 2px;
    padding: 13px 37px;

    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 18px;    
    text-transform: uppercase;
}

.button-red{
    border: 3px solid #fb565a;
    background-color: #fb565a; 
}

.button-red:hover,
.button-red:focus{
    border: 3px solid #e74246;
    background-color: #e74246; 
}
.button-red:active{
    color:rgba(255,255,255,.3);

    border: 3px solid #d7373b;
    border-top: 3px solid #c13135;
    background-color: #d7373b; 
}

.button-green{
    border: 3px solid #00ca74;
    background-color: #00ca74; 
}

.button-green:hover,
.button-green:focus{
    border: 3px solid #00bc6c;
    background-color: #00bc6c; 
}
.button-green:active{
    color:rgba(255,255,255,.3);

    border: 3px solid #00aa62;
    border-top: 3px solid #009958;
    background-color: #00aa62; 
}

.button-yellow{
    border: 3px solid #efc84a;
    background-color: #efc84a; 
}

.button-yellow:hover,
.button-yellow:focus{
    border: 3px solid #eab534;
    background-color: #eab534; 
}
.button-yellow:active{
    color:rgba(255,255,255,.3);

    border: 3px solid #e5a722;
    border-top: 3px solid #ce961f;
    background-color: #e5a722; 
}

.button-gray{
    color: #000;

    background-color: #eee;
    border:none;
}

.button-gray:hover,
.button-gray:focus{
    color: #000;
    background-color: #dfdfdf; 
}
.button-gray:active{
    color:rgba(0,0,0, .3);

    border-top: 3px solid #bfbfbf;
    background-color: #d5d5d5; 
}

.button-price{
    border: 3px solid #fb565a;
    background-color: #fb565a; 
}

.button-price:hover,
.button-price:focus{
    border: 3px solid #e74246;
    background-color: #e74246; 
}
.button-price:active{
    border: 3px solid #d7373b;
    border-top: 3px solid #c13135;
    background-color: #d7373b; 
}

.pagination-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.pagination-item a{
    margin-right: 11px;
    padding: 16px 18px;

    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 18px;    
    text-transform: uppercase;   
  
    background-color: #eee;
    border: 3px solid #eee;
    border-radius: 2px;
}

.pagination-next a{
    margin-right: 11px;
    padding: 16px 76px;

    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 18px;    
    text-transform: uppercase;   

    background-color: #eee;
    border: 3px solid #eee;
    border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-next a:hover,
.pagination-next a:focus{
    color: #000;
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
}
.pagination-item a:active,
.pagination-next a:active{
    color:rgba(0,0,0, .3);

    border-color:#d5d5d5 ;
    border-top: 3px solid #bfbfbf;
    background-color: #d5d5d5; 
}

.pagination-item-current a{
    margin-right: 11px;
    padding: 17px 19px;

    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 18px;    
    text-transform: uppercase;   

    background-color: #fff;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
}

.benefits{
    background-color: #eee;
    margin-bottom: 80px;
}

.benefits-list{
    list-style: none;
}

.services{
    margin-bottom: 80px;
}

.services-list{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.services-item{    
    width: 300px;
    margin-right: 100px;
}

.services-item:nth-child(3n){
    margin-right: 0;
}

.services-item h3{
    margin-top: 20px;
    margin-bottom: 16px;
}

.services-item p{
    margin-bottom: 50px;
    margin-right: 40px;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    border-top: 2px solid #eee;
}

.tagline,
.page-title h1{
    font-weight: 500;
    font-size: 55px;    
    line-height: 55px;
}

.page-title{
    margin-bottom: 63px;
    
    background-color:#eee ;
}

.page-title .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 241px;
}

.rede{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-top: 72px;
}

.rede-text{
    margin-top: 31px;
    margin-bottom: 41px;
}

.development{
    width: 660px;
}

.development-list{
    padding: 0;
    margin: 0;

    list-style: none;
}

.development-item{
    position: relative;
    margin-top: 24px;
    margin-left: 37px;
}

.development-item::before{
    content: "";

    position: absolute;
    width: 25px;
    height: 2px;
    left: -36px;
    top: 9px;

    background-color: #fb565a;
}

.accuracy{
    width: 360px;

    background-image: url(../img/nerds-illustration.png);
    background-repeat: no-repeat;
    background-position: top 42px center;
}

.accuracy-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    
    list-style: none;
}
.development-tagline,
.accuracy-tagline{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;    
    text-transform: uppercase;
}

.accuracy-tagline{
    margin-top: 285px;
    margin-bottom: 46px;

    text-align: center;
}

.accuracy-item{    
    width: 105px;
}

.accuracy-number{
    margin: 0;    
    margin-top: 10px;

    font-weight: 700;
    font-size: 45px;
}

.accuracy-text{
    margin-top: 27px;
    margin-bottom: 0;
}

.accuracy-number::after{
    content: "%";

    position: absolute;
    margin-top: -9px;
    
    font-size: 25px;
}    

.client{
    flex-direction: column;
    justify-content: center;
    display: flex;    
    margin-bottom: 80px;    
    
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.client-list{
    list-style: none;  
    display: flex;
    flex-wrap: wrap;  
    margin:0;
    padding: 0;
}

.client-item{
    width: 300px;
    position: relative;
}

.client-item::after{
    content: "";

    position: absolute;
    width: 2px;
    height: 52px;
    top: 64px;
    right: 0;

    background-color: #eee;
}

.client-item:nth-child(4n)::after{
    content: none;
}

.client-item:nth-child(1),
.client-item:nth-child(4n),
.client-item:nth-child(4n+5){
    width: 280px;
}

.client-list img{
    filter: opacity(20%);

    display: block;
    margin: 45px auto;
    filter: opacity(20%);
}

.client-list img:hover,
.client-list img:focus{
    filter: opacity(100%);
}

.client-list img:active{
    filter: opacity(10%);
}

.studio-address{
    position: relative;
}

.studio-address iframe{
    width: 100%;
    left: 0;    
    top: 0;  
    position: absolute;
    z-index: -1;
}

.studio-address article{     
    width: 319px;
    margin: 54px 0;
    height: 310px;
    display: flex;
    z-index: 1;
    color: #666;
    background-color: #fff;
}

.studio-address-rede{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}

.studio-address p{
    font-size: 16px;
    line-height: 18px;
}

.studio-address h3{
    margin: 0;    
    margin-bottom: 28px;

    color:#000;
    font-size: 18px;    
    text-transform: uppercase;
    line-height: 30px;
}

.studio-address-rede a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 16px 0;
}

.address{
    margin: 0;
    margin-bottom: 20px;
}

.number-phone{
    margin: 0;
    margin-bottom: 38px;
}

.main-footer{
    min-height: 637px;
    display: flex;
    flex-direction: column;
}

.inner-page .main-footer{
    margin-top: 60px;
}

.catalog-columns{
    display: flex;
    justify-content: space-between;
}

.footer-social{
    display: flex;
    align-items: center;

    color:#444;
    font-size: 18px;
    line-height: 22px;
}

.leopold{
    margin-top: 71px;
    margin-bottom: 11px;

    color:#000;
    font-weight: 700;
    font-size: 36px;    
    line-height: 36px;
}

.discount{
    margin-top: 0;
    margin-bottom: 76px;
}

.social-list{
    padding: 0;
    width: 261px;
    margin: 0;
    margin-right: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
}

.social-item{
    display: flex;
    height: 79px;
    width: 79px;
    border-radius: 39px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;

    background-color: #e1e1e1;
}


.social-item:hover,
.social-item:focus{
    background-color: #e74246;
}

.social-item:active{
    border-top: 3px solid #c13135;
    background-color: #d7373b;
}

.social-bonus{
    width: 560px;
}

.filter{
    width: 260px;

    color:#283136;
}
.filter-form fieldset{
    border: none;
}

.filter-form legend{
    padding: 0;
}

.filter button{
    width: 100%;
}


.price-list,
.grid-list,
.special-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.price,
.grid,
.special{    
    padding: 0;
    margin: 0;
}

.price-item{
    display: inline-table;
}

.price-item label{
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.price-item input[type="text"]{
    width: 80px;
    height: 38px;
    border-radius: 2px;
    padding: 0;
    margin-left: 11px;

    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;    
    text-align: center;

    background-color: #eeeeee;
    border: none;
}

.price-range{
    padding: 39px 21px;    
    margin-bottom: 14px;
    margin-top: 49px;

    background-color: #eee;
    border-radius: 2px;
}

.price-start{
    float: left;
}

.price-end{
    float: right;
}

.button-range{
    -webkit-appearance: none;
    appearance: none;
    width: 219px;
    height: 2px;

    background-color: #00ca74;
    border-radius: 1px;
}

.button-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 23px;

    border: 0;
    background-image: url(../img/filter-button.svg);
    cursor: pointer;

}

.grid{
    margin-top: 44px;
}

.grid-list{    
    margin-top: 24px;
}

.grid-item{
    margin-top: 21px;
}

.grid-item label{
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
}

.special{
    margin-top: 38px;
    margin-bottom: 48px;
}

.special-list{    
    margin-top: 23px;
}

.special-item{
    margin-top: 21px;
}

.label-checkbox{
    display: block;
    position: relative;
    padding-left: 36px;

    cursor: pointer;
}

.label-checkbox:focus,
.label-checkbox:hover{
    color:inherit;
}

input[type="checkbox"] + label .indicator-checkbox{
    position: absolute;
    top: 0;
    left: 0;

    width: 19px;
    height: 19px;

    border: 2px solid #b8b8b8;
    border-radius: 3px;
}

input[type="checkbox"]:focus + label .indicator-checkbox,
input[type="checkbox"]:hover + label .indicator-checkbox{
    border-color: #4d4d4d;
    outline:  0 auto -webkit-focus-ring-color;
}

input[type="checkbox"]:disabled + label {
    color: #ededed;
}

input[type="checkbox"]:disabled + label .indicator-checkbox{
    border: 2px solid #ededed;
}

input[type="checkbox"]:checked + label .indicator-checkbox::before,
input[type="checkbox"]:checked + label .indicator-checkbox::after{
    content: '';
    position: absolute; 
    
    background-color: #b8b8b8;
}

input[type="checkbox"]:checked + label .indicator-checkbox::before{
    z-index: 1;
    top: 8px;
    left: 2px;

    width: 12px;
    height: 4px;

    transform: rotate(45deg);
}

input[type="checkbox"]:checked + label .indicator-checkbox::after{
    top: 3px;
    left: 5px;

    width: 20px;
    height: 4px;

    transform: rotate(-45deg);
    border: 2px solid #fff;
}

input[type="checkbox"]:focus + label .indicator-checkbox::before,
input[type="checkbox"]:hover + label .indicator-checkbox::before,
input[type="checkbox"]:focus + label .indicator-checkbox::after,
input[type="checkbox"]:hover + label .indicator-checkbox::after{    
    background-color: #4d4d4d;
}

input[type="checkbox"]:disabled + label .indicator-checkbox::before,
input[type="checkbox"]:disabled + label .indicator-checkbox::after{
    background-color: #ededed;
}

.label-radio{
    display: block;
    position: relative;
    padding-left: 36px;

    cursor: pointer;
}

input[type="radio"] + label .indicator-radio{
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    border: 4px solid #b8b8b8;
    border-radius: 12px;
}

input[type="radio"]:focus + label .indicator-radio,
input[type="radio"]:hover + label .indicator-radio{
    border-color: #4d4d4d;
}

input[type="radio"]:disabled + label .indicator-radio{
    border-color: #ededed;
}

input[type="radio"]:disabled + label{
    color: #ededed;
}

input[type="radio"]:checked + label .indicator-radio::before{
    content: '';

    position: absolute;
    top: 3.5px;
    left: 3.5px;
    
    width: 9px;
    height: 9px;

    background-color: #b8b8b8;
    border-radius: 4.5px;
}

input[type="radio"]:focus + label .indicator-radio::before,
input[type="radio"]:hover + label .indicator-radio::before{
    background-color: #4d4d4d;
}

input[type="radio"]:disabled + label .indicator-radio::before{
    background-color: #ededed;
}

.sort{    
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.sort-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.sort-list-item{
    margin-right: 26px;
}

.sort-list-item a{
    color: rgba(0,0,0, .3);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-list-item a:hover,
.sort-list-item a:focus{
    color: rgba(0,0,0, .6);
}

.sort-list-item a:active{
    color: #000;
}

.sort-button{
    padding: 0;
    margin: 0;    
    margin-left: 18px;

    list-style: none;
}

.sort-button-item{
    margin-left: 18px;
    display: inline;
}

.sort-bottom::before{        
    content: '';
    position: absolute;
    top: 7px;
    right: 25px;
    
    border: 6px solid transparent;
    border-top: 11px solid rgba(166,166,166, .2);
}

.sort-bottom:hover::before,
.sort-bottom:focus::before{
    border-top: 11px solid rgba(166,166,166);
}

.sort-bottom:active::before{
    border-top: 11px solid #231f20;
}

.sort-top::before{        
    content: '';
    position: absolute;    
    top: 1px;
    right: 0;
    
    border: 6px solid transparent;
    border-bottom: 11px solid rgba(166,166,166, .2);
}

.sort-top:hover::before,
.sort-top:focus::before{
    border-bottom: 11px solid rgba(166,166,166);
}

.sort-top:active::before{
    border-bottom: 11px solid #231f20;
}

.template{
    width: 760px;
}

.template-sort{
    padding: 0;
    margin: 0;
    position: relative;

    border: none;
}

.template-sort .head-fieldset{
    margin: 0;
    margin-bottom: 99px;
}

.template-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}
.template-item{
    width: 360px;
    margin-right: 40px;
    margin-bottom: 74px;
    position: relative;
}

.template-item:nth-child(2n){
    margin-right: 0;
}

.template-item::before{
    content: '';
    
    position: absolute;
    width: 360px;
    height: 40px;
    top: -40px;
    filter: opacity(.12);
    
    background-image: url(../img/browser.svg);
}

.template-item:hover::before{
    filter: opacity(1);
}

.template-item:hover{
    box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);      
}

.demo-template:hover{
    z-index: -2;
    position: relative;
}

.template-header{
    margin-top: 17px;
    margin-bottom: 22px;
}

.template-header a{ 
    color: #000;
    font-size: 18px;
    line-height: 30px;
}

.template-header a:hover,
.template-header a:focus{
    color: #fb565a;
}

.template-header a:active{
    color: #b2b2b2;
}

.template-item p{
    margin: 0;
    margin-bottom: 32px;
    margin-left: 60px;
    margin-right: 60px;
    
    color: #666666;
}

.template-price{
    position: absolute;
    bottom: 7px;
    background-color: #eee;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.template-price .button-price{
    margin-bottom: 43px;    
    margin-left: 80px;
    margin-right: 80px;
    display: block;
}

.head-fieldset{
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

/*пробная карусель/слайдер*/

.benefits-item{
    width: 1160px;
    min-height: 430px;

    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}

.benefits-text{    
    display: flex;
    flex-direction: column;

    width: 515px;
    margin-top: 85px;
}

.benefits-text p{
    margin: 0;
    margin-bottom: 45px;
}

.benefits-text .tagline{
    margin: 0;
    margin-bottom: 28px;
}

.benefits-text a{
    display: block;
    width: 240px;
    padding: 16px 0;

    text-align: center;
}

.sliders{
    position: relative;
    width: 1160px;
    padding: 0;
    overflow: hidden;
}

.benefits-list{
    width: 300%;
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
}
.benefits-nav{    
    position: absolute;
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    bottom: 96px;
    left: 50%;

    list-style: none;
}

.benefits-nav li{
    margin-right: 35px;
}

input[type="radio"] ~ ul .indicator-radio-slide{
    content: '';

    position: absolute;
    width: 18px;
    height: 18px;

    background-color: #fff;
    border-radius: 9px;
}

input[type="radio"]:checked ~ ul .indicator-radio-slide::before{
    content: '';

    position: absolute;
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;

    background-color: #fff;
    border: 2px solid #c2c2c2;
    border-radius: 4px;
}


/*пробная карусель/слайдер смена картинки*/

#button-carousel-slide1:checked ~ul .slide{
    margin-left: 0;   
}
#button-carousel-slide2:checked ~ul .slide{    
    margin-left: -33.33%;
}
#button-carousel-slide3:checked ~ul .slide{
    margin-left: -66.66%;
}

.img-slide1{
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 30px;
}

.img-slide2{
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.img-slide3{
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.modal{
    position: fixed;

    color: #000;

    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0, .75);
}

.modal-message{
    bottom: 180px;
    left: 50%;

    display: none;

    margin-left: -480PX;
    width: 760px;
    padding: 75px 100px;
}

.modal-message h2{
    margin: 0;
    margin-bottom: 50px;
    
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.message-form{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.message-form p{
    margin: 0;
    margin-bottom: 39px;
    width: 360px;
    display: flex;
    flex-direction: column;
}

.message-form p:nth-child(3){
    width: 100%;
    margin-bottom: 47px;
}

.message-form .button{
    padding: 16px 82px;
    margin-bottom: 10px;
}

.message-form label{
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.message-form input[type="email"],
.message-form input[type="text"],
.message-form textarea{
    padding: 14px;

    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: rgba(68,68,68, .5);
    
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.message-form textarea{
    resize: none;
}

.message-form input[type="email"]::placeholder,
.message-form input[type="text"]::placeholder,
.message-form textarea::placeholder{
    color: rgba(68,68,68, .5);
}


.message-form input[type="email"]:hover,
.message-form input[type="text"]:hover,
.message-form textarea:hover{
    color: rgba(68,68,68, .5);
    
    border: 2px solid #b4b9bb;
}

.message-form input[type="email"]:focus,
.message-form input[type="text"]:focus,
.message-form textarea:focus{
    color: #000;
    
    border: 2px solid #000;
}

.message-form input[type="email"]:invalid,
.message-form input[type="text"]:invalid,
.message-form textarea:invalid{
    color: #e74246;
    
    border: 2px solid #e74246;
}

.modal-close{
    position: absolute;
    top: 88px;    
    right: 86.5px;

    width: 27px;
    height: 27px;

    background-color: transparent;
    border: 0;
    
    cursor: pointer;
}

.modal-close::before,
.modal-close::after{
    content: '';
    position: absolute;
    top: 11px;
    left: 0px;
    
    width: 27px;
    height: 5px;

    background-color: #fecccd;
}

.modal-close::before{
    transform: rotate(45deg);
}

.modal-close::after{
    transform: rotate(-45deg);
}

.modal-close:focus::before,
.modal-close:hover::before,
.modal-close:focus::after,
.modal-close:hover::after{
    background-color: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after{
    background-color: #ffeeee;
}





